<template id="prime-finder">
    <style>
        * {
            box-sizing: border-box;
        }

        .prime-box {
            background-color: #00FF39;
            padding: 2rem;

            margin-bottom: 15px;

            width: 280px;
            height: 280px;

            border-radius: 50%;
            border: solid #00B228 15px;

            box-shadow: inset 0 10px 30px #000000;

            font-family: 'Monda', sans-serif;
        }

        .col {
            display: flex;
            height: 100%;
            width: 100%;

            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        label {
            text-align: center;
            width: 100%;
        }

        .queryButton {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            height: 20%;
            width: 80%;

            background-color: #763FCF;

            color: white;
            text-align: center;

            cursor: pointer;
            user-select: none;

            border-radius: 3px;

            box-shadow: 0 0 5px #000000;
        }

        input {
            height: 20%;
            width: 80%;
            padding: 10px;

            font-size: 100%;
            text-align: center;

            border: none;
            border-radius: 3px;

            box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;

            outline: none;
        }

        .prime-result {
            text-transform: uppercase;
        }
    </style>
    <div class="prime-box">
        <div class="col">
            <label for="prime">
                IS NUMBER
            </label>
            <input class="prime-input" type="text" value="2147483647">
            <div class="queryButton">
                PRIME?
            </div>
            <span class="prime-result" class="col-sm-8">
                ---
            </span>
        </div>
    </div>
</template>